<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/scripts.js"></script>
    <title>Video Interpreter</title>
</head>

<body>
    <div class="left_box">
        <div class="video_prompt_box">
            <img src="/video_feed" id="video_frame" />
            <br>
            <input type="text" name="prompt" id="prompt" placeholder="Enter your prompt">
            <br>
            <button id="stream" onclick="StartInterpretor()">Start Interpreter</button>
        </div>
    </div>
    <div class="right_box">
        <label for="response" class="response_text">Interpreter Response</label>
        <br>
        <input type="text" name="response" id="response" class="response_text" disabled placeholder="Output will be displayed here">
    </div>
</body>

</html>